.slds-card{
  min-height: 800px; 
}
.customheader{
    background-color:#f3f3f3 !important;
    padding-bottom: 12px;
    border-radius: 2px;
}
.customalignment
{
  margin-top: 8px;
    margin-left: 8px;
}
.tree-item {
    font-size: 16px; /* Adjust the font size as needed */
}
.icon{
    background-color: #0070d2;
}
.header{
    transform: translateY(0.4rem);
}